version: "3.8"
services:
  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Web Console
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: "XXX"
      MINIO_BROWSER_REDIRECT_URL: http://localhost:9001
    volumes:
      - /mnt/data-minio:/data
